body{
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header{
  background-color: #3E6991;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
}

header h1{
  font-family: 'MuseoModerno', cursive;
  text-align: center;
}
header h2{
  font-family: 'MuseoModerno', cursive;
  color:#9EB5CB;
  font-size: medium;
  text-align: center;
}
header img{
  border-radius: 150px;
  width: 70px;
  border: 5px solid #9EB5CB;
  padding: 3px;
  text-align: center;
}

.menu{
  color: #9EB5CB;
  float: right;
  padding-right: 500px;
  text-align: left;
}


.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item{
  position: relative;
  text-align: center;
  color: #3E6991;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item img{
  opacity: 0.5;
  border-radius: 12px;
  max-width: 100%;
  height: auto;


}

.titles{
  position: absolute;
  width: 100%;
  bottom: 100px;
  font-size: medium;
}

.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.1);
}

footer{
  padding-left: 20px;
  background-color: #3E6991;
  color: #9EB5CB;
}

.shrink {
transition: all .2s ease-in-out;
}

.shrink:hover {
transform: scale(0.9);
}

.networks{
  float: right;
  border: 20px;
  border-color: black;
}

.teaching-block{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 35px;
  height: auto;
  min-height: 100% ;
  position: relative;
  display: inline-block;
}

.teaching-block img{
  float: right;
  max-width: 15%;
  padding: 40px 40px 40px 40px;

}
 #text-teaching{
   padding: 15px;
   font-style: Helvetica,Arial, sans-serif;
   max-width: 50%;
   float: left;
   clear: both;
 }

.back{
  float: left;
  clear: both;
}
